<!-- Footer -->
<br>
<br>
<footer class="footerClas d-flex">
  <div class="polPriv col-lg-6 col-md-6 col-sm-6">
    
    <h3>Política de privacidad y Cookies:</h3> <br>
    <ul>
      <li class="cookiesEnl"><a class="btn footerLink" routerLink="/cookies" routerLinkActive="active">Leer más</a></li>
    </ul>
    <br>
    <div class="">
      <p>
        <i class="fab fa-creative-commons"></i>
        2019-20<a class="footerLink" target="_blank"  href="https://creativecommons.org/licenses/?lang=es_ES"> Creative Commons.</a>
      </p>
            
    </div>
  </div>
  <br>
  <br> 

<!--cookies -->

  <div class="contacTo col-lg-6 col-md-6 col-sm-6">

    <h3>Contacto:</h3>
    <div>
      <p>
        <span class="enmailTex">Email:&nbsp;</span>
        <a class="footerLink" target="_blank" href="mailto:info@elena-frontend.com">info@elena-frontend.com</a>
      </p>
      
      
    </div>
    <br>

    <h3>RRSS:</h3>
    <div>
      <ul class="listafoot d-flex">
        <li>
          <div><a target="_blank" class="footerLink footerIcon" href="https://github.com/ElenaDPV"><i class="fab fa-github"></i></a></div>
            
              
          
        </li>

        <li>
          <div class="wdwdfa">
            <a target="_blank" class="footerLink footerIcon" href="https://www.linkedin.com/in/elena-menendez-ormaza/"><i class="fab fa-linkedin-in"></i></a>
            

          </div>
        </li>

        <li>
          <div>
            <a target="_blank" class="footerLink footerIcon" href="https://stackexchange.com/users/16172778/elena-men%c3%a9ndez-ormaza"><i class="fab fa-stack-overflow">
              </i></a>
            
          </div>
        </li>

        <li>
          <div>
            <a target="_blank" class="footerLink footerIcon" href="https://heleslideaway.wordpress.com/"><i class="fab fa-wordpress-simple"></i></a>
            
          </div>
        </li>
          
        
      </ul>
    </div>
    
  </div>
  
</footer>
<br>
<br>
