.sombraDiv{
    -webkit-box-shadow: -2px 3px 12px 0px rgba(33,33,33,0.56);
-moz-box-shadow: -2px 3px 12px 0px rgba(33,33,33,0.56);
box-shadow: -2px 3px 12px 0px rgba(33,33,33,0.56);
}
.espacioCode{
    height: 5em;
}
.caja1{  
    width: 100%;
    height: 100vh;
    padding: 3em;
}
.carouInvest{
    padding: 1em;
    width: 40%;
    height: 15em;  
}
.tituNumbers1{
    font-weight: 500;
}
.tituNumbers2{
    font-weight: 500;
}
.texto1code1{
    overflow: scroll;
    height: 15em;
    padding: 1em;
    width: 40%;
    
}