

.logoNav{
    width: 2em;
}
.navbar-light{
    background: rgba(219,235,238,1);
background: -moz-linear-gradient(left, rgba(219,235,238,1) 0%, rgba(243,249,249,1) 38%, rgba(243,249,249,1) 44%, rgba(254,250,245,1) 67%, rgba(254,250,245,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,235,238,1)), color-stop(38%, rgba(243,249,249,1)), color-stop(44%, rgba(243,249,249,1)), color-stop(67%, rgba(254,250,245,1)), color-stop(100%, rgba(254,250,245,1)));
background: -webkit-linear-gradient(left, rgba(219,235,238,1) 0%, rgba(243,249,249,1) 38%, rgba(243,249,249,1) 44%, rgba(254,250,245,1) 67%, rgba(254,250,245,1) 100%);
background: -o-linear-gradient(left, rgba(219,235,238,1) 0%, rgba(243,249,249,1) 38%, rgba(243,249,249,1) 44%, rgba(254,250,245,1) 67%, rgba(254,250,245,1) 100%);
background: -ms-linear-gradient(left, rgba(219,235,238,1) 0%, rgba(243,249,249,1) 38%, rgba(243,249,249,1) 44%, rgba(254,250,245,1) 67%, rgba(254,250,245,1) 100%);
background: linear-gradient(to right, rgba(219,235,238,1) 0%, rgba(243,249,249,1) 38%, rgba(243,249,249,1) 44%, rgba(254,250,245,1) 67%, rgba(254,250,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbebee', endColorstr='#fefaf5', GradientType=1 );
}
.bi-house{
    color: var(--primerColor);
    border-radius: 20px;
    font-size: 1.5em;
    position: fixed;
    border: 2px solid var(--primerColor);
    padding: 0.2em;
    margin-top: -0.5em;
    margin-left: -0.3em;
}
.bi-house:hover{
    color: var(--tercerColor);
    border: 2px solid var(--tercerColor);
    
}

