<br>
<br>
<br>
<div class="header1">
    <h2>EDUCACIÓN
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
        </button>
    </h2>
    <p class="color1 font-italic">"Todos nosotros sabemos algo. Todos nosotros ignoramos algo. Por eso, aprendemos siempre."
        <span class="text-muted">P. Freire </span>         
    </p>
</div>
<br>
<br>
<section class="experiencia container">

    <div class="container pad2">
    <div class="headerImg"></div>
    
    <h3>CEI Escuela de Diseño</h3>
        <p>
            Nombre de la titulación: <a target="_blank"  href="https://cei.es/cei-curso/posgrado-en-diseno-y-desarrollo-web/">Máster en diseño y programación web (Frontend) </a><br>
            Tipo: Oficial acreditativo <br>
            Disciplina académica: Desarrollo de páginas web, contenido digital/multimedia y recursos informáticos <br>
            Fecha de finalización: Marzo del 2019 <br>
            Lenguajes: <span class="destacar">HTML5, CSS3, Jquery y JavaScript </span><br>
            Certificado: Disponible. <br>

        </p>
        <hr>

        <h3>Universidad Nacional de Educación a Distancia - U.N.E.D.</h3>
        <p>
            Nombre de la titulación: <a target="_blank"  href="http://portal.uned.es/portal/page?_pageid=93,1337048&_dad=portal&_schema=PORTAL">Máster en Comunicación y Educación en la Red; especialidad en E-Learning </a><br>
            Tipo: Oficial acreditativo <br>
            Disciplina académica: Tecnología en la educación <br>
            Fecha de finalización prevista: 2016 – 2020 <br>
            Conocimientos: <span class="destacar">CMS, e-learning, machine learning analytics... metodologías de investigación social... </span><br>
            Certificado: pendiente de la finalización de TFM <br>

        </p>
        <hr>

        <h3>CES Don Bosco (Adscrita a la UCM) </h3>
        <p>
            Nombre de la titulación: <a target="_blank"  href="https://cesdonbosco.com/estudios/grados/grado-en-educacion-social.html">Diplomatura en Educación Social </a><br>
            Tipo: Oficial acreditativo <br>
            Disciplina académica: Educación<br>
            Fecha de finalización: septiembre 2009 <br>
            Certificado: Disponible. <br>

        </p>
								
								
    <br>
<hr>
    <h3>Trayectoria:</h3>
    <div class="raya raya4"></div> <br>

    <p class="text-left">Mi camino profesional es un resultado de la sinergia de varias profesiones, una adaptación a los medios y los recursos que vivimos en la sociedad actual;
        El "código" se marca en un costante cambio de mejora, en versiones que siempre se superan unas a otras:</p>
   
<br>
    <div class="animaTrayector d-flex animacion">
        <div class="columnaTray columnaTray1 ">
           
            <p>2010 <br> EDUSO</p>
           
            
        </div>
        <div class="flecha stretchRight"></div>
        <div class="columnaTray columnaTray2">
           
            <p>2014 <br> COMERCIAL</p>
            
            
        </div>
        <div class="flecha stretchRight"></div>
        <div class=" columnaTray columnaTray3">
            
            <p>2016 <br> E-LEARNING</p>
            
            
        </div>
        <div class="flecha stretchRight"></div>
        <div class="columnaTray columnaTray4">
            <p>2017 <br> CMS</p> 
            
        </div>
        <div class="flecha stretchRight"></div>
        <div class="columnaTray columnaTray5">
           <p>2018 <br> FRONTEND</p>
           
            
        </div>
    </div>
    <br><br>
    <hr>

    <div class="d-flex">
        <button class="btn" routerLink="/conocimientos" routerLinkActive="active">CONOCIMIENTOS</button>
        <button class="btn marLef" routerLink="/experiencia" routerLinkActive="active">EXPERIENCIA</button>
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
        </button>
    </div>

</div>
</section>

