<br>
<br>
<br>
<div class="header1">
    <h2>Política de privacidad y Cookies
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
        </button>
    </h2>
    <p class="color1 font-italic">“Lo que llamamos nuestra intimidad no es sino nuestro imaginario mundo, el mundo de nuestras ideas.”
        <span class="text-muted"> J. Ortega y Gasset</span>       
    </p>
</div>
<br>
<br>
<section class="container">

    <div class="container pad2">
    <div class="headerImg"></div>
    <h3>¿Qué ocurre con sus datos en esta web?</h3>
    <div class="raya raya5"></div> <br>
    <p class="text-justify">

        Esta "Política de Privacidad" establece los términos en que Elena Menéndez usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta persona está comprometida con la seguridad de los datos de sus usuarios. Cuando le pido llenar los campos de información personal con la cual usted pueda ser identificado, se hace asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta "Política de Privacidad" puede cambiar con el tiempo o ser actualizada por lo que le recomiendo y enfatizo en revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios. <br><br> 

        <span class="destacar">Información que es recogida:</span>  <br>

        Este sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como su dirección de correo electrónico e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación. <br><br>

        <span class="destacar">Uso de la información recogida:</span>  <br>

        Este sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar los productos y servicios.  Es posible que sean enviados correos electrónicos periódicamente a través de este sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.

        Elena Menéndez está altamente comprometido para cumplir con el compromiso de mantener su información segura. Se usan los sistemas más avanzados y se actualizan constantemente para asegurar que no exista ningún acceso no autorizado. <br><br> 

        <span class="destacar">Uso de la información recogida</span> - Cookies: <br>

        Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web. <br><br>

        Este sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web (porque tardan menos en volver a cargarse). También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios. <br><br> 

        <span class="destacar">Uso de la información recogida</span> - Enlaces a Terceros: <br>

        Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted de click en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas. <br><br> 

        <span class="destacar">Control de su información personal:</span>  <br>

        En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro sitio web.  <!-- Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico.  En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento. --> <br><br> 

        Nunca se venderán, cederán ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial. <br><br>

        Elena Menéndez se reserva el derecho de cambiar los términos de la presente "Política de Privacidad" en cualquier momento. <br><br>
    
    </p>
    <hr>
    <div class="d-flex">
        <button class="btn" routerLink="/conocimientos" routerLinkActive="active">HABILIDADES</button>
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
        </button>
    </div>

</div>
</section>




