.espacioLogin{
    height: 10em;
}
.login{
box-shadow: none !important;
    background-color: transparent !important;
}
.login2{
    border: 4px solid var(--tercerColor);
    background-color: white;
}

