<div class="espacioLogin"></div>

<section class="login container">

    <div class="col-lg-5 col-md-5 col-sm-12 m-auto login2">
        <br>
        <form>
            <h3 class="text-center">YA TENGO CUENTA</h3>
            <br>
            <div class="form-group login3">
              <label for="exampleInputEmail1">Email:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">(Tranquil@, nunca compartiré tus datos.)</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1" routerLink="/cookies" routerLinkActive="active">Acepto términos y condiciones.</label> 
            </div>
            
              <a routerLink="/register" routerLinkActive="active">Ups! No estoy registrad@</a>
              <br> <br>
              <div class="d-flex">
                <button type="submit" class="btn" routerLink="/home" routerLinkActive="active">OK, ¡VAMOS!</button>
                <div class="espacioBtn"></div>
                <button type="submit" class="btn" routerLink="/home" routerLinkActive="active">HOME</button>
              </div>
            
            <br>
          </form>
          <br>
    </div>

</section>
