<br>
<br>
<br>
<div class="header1">
    <h2>CONOCIMIENTOS
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
        </button>
    </h2>
    <p class="color1 font-italic">"Somos lo que hacemos repetidamente. La excelencia, entonces, no es un acto, es un hábito."
		<span class="text-muted">Aristóteles. </span>        
    </p>
</div>
<br>
<br>
<section class="experiencia container">

    <div class="container pad2">
    <div class="headerImg"></div>
   
        <h3>Licencias y certificaciones</h3>
        <div class="raya"></div> <br>					

			<h4>Angular (8/9) con 10 proyectos completos</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="https://www.udemy.com/course/aprende-angular-desde-0-con-10-proyectos-completos/">Udemy</a> <br>

				Fecha de la certificación: <span class="weiFontBold">No disponible, en proceso</span> (Sin fecha de vencimiento). <br>

			</p>
			<hr>

			<h4>CSS avanzado</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="https://www.linkedin.com/learning/css-avanzado/presentacion-del-curso-css-avanzado">LinkedIn</a> <br>

				Fecha de la certificación: <span class="weiFontBold">febrero de 2020</span> (Sin fecha de vencimiento). <br>

			</p>
			<hr>
			<h4>CSS: 50 trucos</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="https://www.linkedin.com/learning/css-50-trucos/presentacion-del-curso-css-50-trucos">LinkedIn</a> <br>

				Fecha de la certificación: <span class="weiFontBold">febrero de 2020</span> (Sin fecha de vencimiento). <br>

			</p>
			<hr>


			<h4>JavaScript tutorial course</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="https://www.linkedin.com/company/sololearn-inc-/">SoloLearn</a> <br>

				Fecha de la certificación: <span class="weiFontBold">abril 2019</span> (Sin fecha de vencimiento). <br>
				Identificador de la credencial: ID de la credencial Certificate #1024-11868903 <br>

			</p>
			<hr>

			<h4>Python esencial</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="https://www.linkedin.com/learning/python-esencial/presentacion-del-curso-python-esencial">LinkedIn</a> <br>

				Fecha de la certificación: <span class="weiFontBold">abril del 2019</span> (Sin fecha de vencimiento). <br>

			</p>
			<hr>

			<h4>HTML Fundamentals</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="https://www.linkedin.com/company/sololearn-inc-/">SoloLearn</a> <br>

				Fecha de la certificación: <span class="weiFontBold">Marzo del 2019</span> (Sin fecha de vencimiento). <br>
				Identificador de la credencial: D de la credencial Certificate #1014-11868903 <br>

			</p>
			<hr>

			<h4>Formación de formadoras en materia de la sociedad de la información, dirigido a mujeres profesionales.</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="http://www.inmujer.gob.es/areasTematicas/SocInfo/Programas/Rea.htm">Ministerio de Sanidad, Servicios Sociales e Igualdad</a> <br>

				Fecha de la certificación: <span class="weiFontBold">Abril 2018</span> (Sin fecha de vencimiento). <br>
				Duración: 100 horas<br>

			</p>
			<hr>

			<h4>E-TEACHER (MOOC)</h4>
			<p>
				Autoridad emisora:  <a target="_blank"  href="https://www.my-mooc.com/es/conceptor/ECO%20:%20Elearning,%20Communication%20and%20Open-data%20projet/">ECO ELEARNING COMMUNICATION OPEN-DATA</a> <br>

				Fecha de la certificación: <span class="weiFontBold">diciembre del 2016</span> (Sin fecha de vencimiento). <br>
				Identificador de la credencial: ID de la credencial 621127 8CIP9 ICT-PSP.2013<br>

			</p>
			<hr>
			<br>
			<br>
		
			<h3>Experiencias y Voluntariados</h3>
			<div class="raya"></div> <br>

			<h4>Ashoka <a target="_blank" href="https://spain.ashoka.org/">  <i class="fas fa-external-link-alt"></i>   </a></h4> 
			
			<p>
				Puesto: Personal de Apoyo <br>
				Fechas de voluntariado: octubre del 2017 a marzo del 2018 <br>
				Causa benéfica: Educación y emprendimiento social. <br>
				Fecha de la certificación: <span class="weiFontBold">febrero de 2020</span> (Sin fecha de vencimiento). <br>

			</p>
			<hr>

			<h4>CMS Blog SlideAway <a target="_blank" href="https://heleslideaway.wordpress.com/acerca-de/">  <i class="fas fa-external-link-alt"></i>   </a></h4> 
			
			<p>
				Puesto: Bloguera <br>
				Fechas de publicaciones: desde 2011 (Sin fecha de vencimiento). <br>
				Temas: <span class="weiFontBold">Poesía, educación social y digital, ocio y música</span> <br>

			</p>
			<hr>

			<h4>CMS Blog Aprendizaje ubicuo <a target="_blank" href="https://aprendizajeubicuosincosturas.wordpress.com">  <i class="fas fa-external-link-alt"></i>   </a></h4> 
			
			<p>
				Puesto: Bloguera <br>
				Fechas de publicaciones: desde 2017 / 2018 (Sin fecha de vencimiento). <br>
				Temas: <span class="weiFontBold">Aprendizaje ubicuo, accesibilidad, u-learning...</span> <br>

			</p>
			<hr>

			<h4>CMS Blog Aprendizaje conectado <a target="_blank" href="https://aprendizajeconectadoelena.wordpress.com">  <i class="fas fa-external-link-alt"></i>   </a></h4> 
			
			<p>
				Puesto: Bloguera <br>
				Fechas de publicaciones: desde 2017 / 2018 (Sin fecha de vencimiento). <br>
				Temas: <span class="weiFontBold">Big data, learning analytics... </span> <br>

			</p>
			<hr>
    
    <div class="d-flex">
        <button class="btn" routerLink="/trayectoria" routerLinkActive="active">EDUCACIÓN</button>
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
        </button>
    </div>

</div>
</section>
