<br>
<br>
<br>
<div class="header1">
    <h2>Experiencias
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
        </button>
    </h2>
    <p class="color1 font-italic">"La vida es como montar en bicicleta, para mantener el equilibrio hay que seguir avanzando"
        <span class="text-muted">A. Einstein </span>         
    </p>
</div>
<br>
<br>
<section class="experiencia container">

    <div class="container pad2">
    <div class="headerImg"></div>
    
    <h3>Frontend web junior developer</h3>
    <p>
        Nombre de la empresa: <span class="weiFontBold">Redbag /-/ Oubita</span> <br>
        Desde  <span class="weiFontBold">Marzo del 2019 – hasta la actualidad</span><br>
        Ubicación: <span class="weiFontBold">Madrid</span> - actualmente en teletrabajo <br>
        Varios proyectos de desarrollo web: <span class="weiFontBold">Maquetación, HTML5, CSS3, Bootstrap, JavaScript, Angular, Wordpress, Github, y soporte.</span> <br>
        Enlaces: <a target="_blank" href="https://www.block-invest.io"> www.block-invest.io</a> (actualmente publicada no actualizada) <br>
        <a target="_blank" href="https://www.redbag.io"> www.redbag.io</a> (actualmente no actualizada, CMS) 
        <br>
        <a target="_blank" href="https://www.oubita.com"> www.oubita.com</a> (actualmente publicada, y en proceso de desarrollo) <br>
        
    </p>
    <hr>

    <h3>Educadora social y diseño Web</h3>
    <p>
        Nombre de la empresa: Agencia para el empleo<br>
        Desde Diciembre del 2016 a julio del 2017 <br>
        Ubicación: C.E.I.P. Tomás Bretón, Madrid. <br>
        Educadora Social de apoyo en TICs, con la función principal de mejorar la comunicación en la comunidad educativa del centro, a través de las nuevas tecnologias de la información y la comunicación, como por ejemplo, con el <span class="weiFontBold">diseño y funcionamiento integral de la página web en Wordpress.</span>  <br>
        Enlace: Actualmente no publicada <br>
    </p>
    <hr>

    <h3>Dependienta Comercial</h3>
    <p>
        Nombres de las empresas: <span class="weiFontBold">Orange y Movistar </span> <br>
        Desde enero del 2011 hasta julio del 2015 <br>
        Ubicación: CC La Vaguada, y Paseo de la Habana. Madrid. <br>
        Tramitaciones, promoción, venta de productos y servicios, postventa, operativa de caja, control y gestión de stock. <br>
    </p>
    <hr>

    <h3>Educadora social</h3>
    <p>
        Nombre de la ONG: Asociación Colectivo La Calle<br>
        Desde noviembre 2009 hasta junio del 2010 <br>
        Ubicación: Entrevias, Vallecas. Madrid<br>
        Apoyo escolar con adolescentes en situación de riesgo social, orientación sociolaboral para adultos, enseñanza de matemáticas para graduado escolar por libre en ESO para adultos <br>
        
    </p>
    <br>
    <hr>
    <div class="d-flex">
        <button class="btn" routerLink="/conocimientos" routerLinkActive="active">HABILIDADES</button>
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
        </button>
    </div>

</div>
</section>




