
<div class="espacioTop"></div>   

<div class="container titulo1 shadow-sm p-3 mb-5 rounded">
    <h1 class="titulo2 textoSobra">Hola! Mi Nombre es Elena;</h1>
    <h2 class="titulo3 textoSobra">Bienvenidos  a mi web</h2>
    <br>
    <br>
    <div class="tuts d-flex">
        <div class="titulo4">
            <a class="shadow p-3 mb-5 rounded boton1Code" routerLink="/code" routerLinkActive="active">MY CODE</a>
        </div>
        <div class="espacioWi"></div>
        <div class="titulo5">
            <a class="shadow p-3 mb-5 rounded boton2Resu" routerLink="/resume" routerLinkActive="active">RESUMEN</a>
        </div>
    </div>
    
    
    
</div>