
<div class="espacioTop"></div>   

<div class="container titulo1">
    <h1 class="titulo2">Hola! Mi Nombre es Elena;</h1>
    <h2 class="titulo3">Bienvenidos  a mi web</h2>
    <br>
    <br>
    <div class="tuts d-flex">
        <div class="titulo4">
            <a class="shadow p-3 mb-5 rounded" routerLink="/code" routerLinkActive="active">MY CODE</a>
        </div>
        <div class="espacioWi"></div>
        <div class="titulo5">
            <a class="btnPort2 shadow p-3 mb-5 rounded" routerLink="/resume" routerLinkActive="active">RESUMEN</a>
        </div>
    </div>
    
    
    
</div>