.displayNoneMovil{
  display:block;
}
.introduccion {
  height: 100vh;
}
.intro {
  background-image: url("../../assets/img/fondo1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100%;
  width: 100%;
}
.pantalla {
  height: 40%;
  width: 40%;
  margin: -8em 0em 0em 0em;
}
.textoP {
  font-size: 1em;
}
.letPequen {
  font-size: 0.5em;
  
}
.textoAnimacion {
  opacity: 0;
  font-size: 1.2em;
  animation-name: homeAni;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.texto1 {
  animation-delay: 1s;
  font-weight: 600;
}
.texto2 {
  animation-delay: 3s;
}
.texto3 {
  animation-delay: 5s;
}
.texto4 {
  animation-delay: 7s;
}
.texto5 {
  animation-delay: 9s;
}
@keyframes homeAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnPort {
  position: relative;
  top: -0.5em;
}
.btnPort2 {
  color: var(--letrasColor);
  padding: 0.5em;
}
.btnPort2:hover {
  color: var(--tercerColorB);
  font-weight: 500;
  text-shadow: 2px 2px var(--grisOscuro);
  border: 2px solid var(--letrasColor);
}
//MEDIA QUERYS

//MOVIL
@media (min-width: 0px) and (max-width: 767px) {
  .displayNoneMovil{
    display:none;
  }
  .introduccion {
    margin: 0 !important;
    padding: 0 !important;
  }
  .intro {
    margin: 0 !important;
    padding: 0 !important;
    background-image: url("../../assets/img/movilFondo2.png");
    background-size: 120%;
  }
  .pantalla {
    height: 40%;
    width: 50%;
    margin: 0em;
  }
  .textoP{
    font-size: 0.8em;
  }
  .btnPort {
    position: relative;
    font-size: 0.8em;
    width: 50%;
    top: 0em;
  }
}
//TABLET
@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    background-image: url("../../assets/img/tabletFondo.png");
  }
  .pantalla {
    height: 52%;
    width: 80%;
    margin: 0em;
  }
  .btnPort {
    top: -0.9em;
  }
}
//LAPTOP M
@media (min-width: 1024px) and (max-width: 1439px) {
  .textoP {
    font-size: 0.8em;
  }
  .btnPort {
    position: relative;
    top: 0em;
  }
}
//4k
@media (min-width: 2560px) and (max-width: 3000px) {
  
.introduccion {
  width: 120%;
}
.intro {
  background-size: 130%;
  width: 120%;
}
.pantalla {
  width: 100%;
  
}
}
