<br>
    <br>
    <br>
    <div class="titulo opacidad">
        <h2>Elena Menéndez-Ormaza Bragado</h2>
        <h3>Desarrolladora junior frontend</h3>
          
      </div>
    <br>
    <br>


<section class="container home">
    
    

    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between align-items-center ">
        <div class="col-lg-6 col-md-6 col-sm-6 home">
            <div class="imgMovil"></div>
            <div class="d-flex flex-column">
                <h3>   < / ¡Hola mundo! > </h3>
                <div class="raya raya2"></div> <br>
            </div> 
            
            
            <div>
                <p>Soy diplomada en educación social y una gran apasionada de las nuevas tecnologías; estoy formándome en lenguajes de programación frontend y terminando un máster oficial con especialización en e-learning, actualmente trabajando de maquetadora web.</p>
            </div>
            <br>
            <div>
                <button class="btn" routerLink="/experiencia" routerLinkActive="active">EXPERIENCIA</button>
            </div>
            

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 logo2">
        </div>
    </div>
    <hr>
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        
            <div>
                <h3>   < / Conocimientos > </h3>
                <div class="raya w-100"></div> <br>
            </div> 
            
           
            <div>
                <p class="text-center">
                    #<b>Wordpress</b> #educación social 
										#<b>Legacy code</b> #empoderamiento #emprendimiento social
										#<b>JavaScript</b> #trabajo en equipo 
										#<b>Responsive</b> #adaptación 
										#<b>Angular</b> #autonomia #soporte 
										#<b>Desarrollo web</b> #e-ducación
										#<b>Frontend</b> #creatividad
										#<b>Maquetación web</b> #e-learning
										#<b>CSS3</b> #iniciativa #cooperación
										#<b>HTML5</b> #educación digital
                </p>
            </div>
            
            <div class="barrasAnim col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex padBarras col-lg-6 col-md-6 col-sm-6 m-auto">
                    <div class="letrAumen">HTML5&nbsp;</div>
                    <div class="borderSolo">
                        <div class="grisclaR ani1">
                            <div class="animacionLg ">
                                <p class="text-center pushAni"><i class="fab fa-html5"></i></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="d-flex padBarras col-lg-6 col-md-6 col-sm-6 m-auto">
                    <div class="letrAumen">CSS3&nbsp;</div>
                    <div class="borderSolo">
                        <div class="grisclaR ani2">
                            <div class="animacionLg ">
                                <p class="text-center pushAni"><i class="fab fa-css3-alt"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex padBarras col-lg-6 col-md-6 col-sm-6 m-auto">
                    <div class="letrAumen">JavaScript&nbsp;</div>
                    <div class="borderSolo">
                        <div class="grisclaR ani3">
                            <div class="animacionLg ">
                                <p class="text-center pushAni"><i class="fab fa-js-square"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex padBarras col-lg-6 col-md-6 col-sm-6 m-auto">
                    <div class="letrAumen">Angular9&nbsp;</div>
                    <div class="borderSolo">
                        <div class="grisclaR ani4">
                            <div class="animacionLg ">
                                <p class="text-center pushAni"><i class="fab fa-angular"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex padBarras col-lg-6 col-md-6 col-sm-6 m-auto">
                    <div class="letrAumen">Bootstrap&nbsp;</div>
                    <div class="borderSolo">
                        <div class="grisclaR ani5">
                            <div class="animacionLg ">
                                <p class="text-center pushAni"><i class="fab fa-bootstrap"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex padBarras col-lg-6 col-md-6 col-sm-6 m-auto">
                    <div class="letrAumen">CMS&nbsp;</div>
                    <div class="borderSolo">
                        <div class="grisclaR ani6">
                            <div class="animacionLg ">
                                <p class="text-center pushAni"><i class="fab fa-wordpress-simple"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br>
            <div>
                <button class="btn" routerLink="/conocimientos" routerLinkActive="active">HABILIDADES</button>
            </div>

        </div>
       <br>
       <hr>
       <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column justify-content-end align-items-end">
        
        <div class="mar2 d-flex flex-column">
            
            <h3 class="">   < / Freelance > </h3>
            <div class="raya w-100 text-right mar2"></div> <br>
        </div> 
        
        
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end align-items-center movilDireccion">
            <div class="col-lg-6 col-md-6 col-sm-6 freelanceIcon d-flex justify-content-center">
                <i class="far fa-handshake"></i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                <p class=" pad0 mar0">
                    Aun que ahora me encuentro trabajando, estoy dispuesta a escuchar ofertas para realizar otros proyectos, pueden consultar más detalles en el enlace.
                </p>
            </div>
        </div>
        
       
        
        <br>
        <div class="mar2">
            <button class="btn" routerLink="/freelance" routerLinkActive="active">FREELANCE</button>
        </div>

    </div>
   <br>
   <hr>
    
</section>