div.espacioTop {
  height: 10em;
}

div.container.titulo1 {
  height: 50%;
  padding: 2em;
  border: 1px solid var(--negroColor);
  h1.titulo2 {
    color: var(--negroColor);
    font-weight: 500;

  }

  h2.titulo3 {
    color: var(--negroColor);
    font-weight: 500;

  }

  div.titulo4 {
    a { 
      padding: 1em;
      border: 1px solid var(--negroColor);

    }
    a:hover{ 
      padding: 1em;
      border: 1px solid var(--tercerColor);

    }
  }
.espacioWi{
  width: 2em;
}
  div.titulo5 {
    a.btnPort2 {
      padding: 1em;
      border: 1px solid var(--negroColor);
    }
    a.btnPort2:hover {
      border: 1px solid var(--tercerColor);
    }
  }
}

/* MEDIA QUERYS*/
// (MOVIL)
@media (min-width: 0px) and (max-width: 767px) {   
  div.espacioTop {
    height: 3em;
  }
  .titulo2{
    font-size: 200%;
  }
  .titulo3{
    font-size: 150%;
  }

}

// (TABLET)
@media (min-width: 768px) and (max-width: 1023px) {  
  div.espacioTop {
    height: 3em;
  }
  .titulo2{
    font-size: 200%;
  }
  .titulo3{
    font-size: 150%;
  }
}

// (ESCRITORIO) IS OK
// (ESCRITORIO GRANDE) IS OK
// (4K) IS OK
  