<br>
<br>
<br>
<div class="header1">
    <h2>FREELANCE
        <button class="btn btnHome" routerLink="/home" routerLinkActive="active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
        </button>
    </h2>
    <p class="color1 font-italic">"Si necesito ver más lejos, me tengo que subir a los hombros de un gigante"
        <span class="text-muted">I. Newton </span>        
    </p>
</div>
<br>
<br>
<section class="container">

    <div class="container pad2">
    <div class="headerImg"></div>
   
    <h3>Precios</h3>
    <div class="raya raya3"></div> <br>

    <h4>CMS - Wordpress</h4>
    <p>
        Desde 500 euros
    </p>
    <hr>

    <h4>Sin plantilla, personalizada 100%</h4>
    <p>
        Desde 900 euros
    </p>
    <hr>

    <h3>Presupuestos</h3>
    <div class="raya raya3"></div> <br>
    <h4>Contacto por correo electrónico</h4>
    <p>
        <a target="_blank" href="mailto:info@elena-frontend.com">info@elena-frontend.com</a>
    </p>
    <br>
        <!-- <button target="_blank"  href="../../assets/pdf/presupuestoWeb.pdf" class="btn descargarPdf">Descargar <i class="far fa-file-pdf"></i></button> -->
    <hr>

    
    <div class="d-flex">
        <button class="btn" routerLink="/home" routerLinkActive="active">HOME</button>
    </div>

</div>
</section>

